html, body, * {
				font-family: Arial, sans-serif;
				text-align: center;
				font-size: 14px 65%;
			}

			div#title {
			    width: 880px;
			    margin: 10px auto 0;
			    padding: 5px 20px;
			    background-color: darkblue;
			    border: 1px blue;
			    color: white;
			    box-shadow: 3px 0px 3px lightgrey;
			}

			h1 {
			    font-family: Georgia, serif;
			    font-size: 1.4em;
			    letter-spacing: 1px;
			    margin: 0 auto;
			}

			h2 {
				font-size: .8em;
				font-weight:100;
				margin: .3em auto;
			}

			div#chart {
				width:920px;
				margin: 0 auto 1em;
				border: 1px solid grey;
				box-shadow: 3px 3px 3px lightgrey;
			}

			.bar.positive {
			  fill: darkblue;
			}

			.bar.negative {
			  fill: darkred;
			}

			g.infowin {
				fill: grey;
			}

			g.infowin text,
			.axis text {
			  font: 11px sans-serif;
			  fill: grey;
			}

			.axis path,
			.axis line {
			  fill: none;
			  stroke: #000;
			  shape-rendering: crispEdges;
			}

			path.domain {
				stroke:none;
			}
